<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Name Game</title>
  <link rel="stylesheet" href="styles/styles.css">
  <script type="html/template" id="PeopleTmpl">
    <article class='pair'>
      <h3><%= name %></h3>
      <img src='<%= url %>' >
    </article>

  </script>
</head>
<body>

<section>
</section>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>

  <script src="main.js"></script>

</body>
</html>
